@media (max-width: 900px){
    /* start text */
    .firstSecMain{
        display: flex;
        flex-direction: column;
        margin: 0 15px 0 15px;
        align-items: center;
    }
    .divText{
        margin-top: 10px;
    }
    .text{
        margin-bottom: 45px;
    }
    /* Line */
    .line{
        width: 50px;
    }
    .pLine{
        font-size: 20px;
    }
    /*Cards*/
    #cards{
        display: flex;
        flex-direction: column;
        margin: 0px;
    }
    .card{
        display: grid;
        grid-template-areas: 
        "cardImg cardName"
        "cardImg cardOldPrice"
        "cardImg cardNewPrice"
        "cardImg cardPrice2x"
        "cardImg cardBtn";
    }
    .cardImg{
        grid-area: cardImg;
    }
    .cardName{
        grid-area: cardName;
    }
    .cardDesc{
        display: none;
    }
    .cardOldPrice{
        grid-area: cardOldPrice;
    }
    .cardNewPrice{
        grid-area: cardNewPrice;
    }
    .cardPrice2x{
        grid-area: cardPrice2x;
    }
    .cardBtn{
        grid-area: cardBtn;
    }
    /* Compartilhe novidades */
    .secShare{
        margin: 0px 2px 60px 2px;
    }
    .shareP{
        font: normal normal normal 14px/16px Helvetica Neue;
    }
    .divShareInput{
        display: flex;
        flex-direction: column;
    }
    .inputShare{
        width: 350px;
        height: 30px;
    }
}